# Backend
backend/target/
backend/.settings/
backend/.classpath
backend/.project
backend/.factorypath

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vscode/

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Media
media/video.mp4

# Large media files (GitHub limit 100MB)
# frontend/src/movies/
